<% include ../partials/header %>
<h2>All Your Friend Requests</h2>
<div class="well">
    <% friendships.forEach(function(request) {  %>
        <div class="row">
            <div class="col-md-12">
                <% if(request.status === "pending") { %>
                  <p><%= request.friend.firstName + " " + request.friend.lastName %>
                        <br>
                        <a class="btn btn-success" href="/acceptfriend/<%= request.friend._id%>">Accept</a>
                        <a class="btn btn-danger" href="/removefriend/<%= request.friend._id%>">Reject</a>
                  </p>
                <% } %>
            </div>    
        </div>
    <% } ) %>
</div>

<% include ../partials/footer %>